<%= form_with(url: '/admin/railway_stations', scope: :railway_station, local: true) do |form| %>
  <% if railway_station.errors.any? %>
    <div id="error_explanation">
     <h2><%= t('common.errors')%> </h2>

      <ul>
        <% railway_station.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.hidden_field :route_id, value: params[:route_id] %>
  </div>

  <div class="field">
    <%= form.label :routes %>
    <%= form.collection_select :route_ids, Route.all, :id, :name, {}, {multiple: true} %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: @railway_station.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
