<%= form_for [:admin, route], html: {style: "display: #{hidden ? 'none' : 'block'}"} do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
     <h2><%= t('common.errors')%> </h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: route.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-primary' %>
  </div>
<% end %>
