<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table border = "1" rules="all" class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr class="table-secondary">
        <td>
          <%= route.name %>
          <%= render 'form', route: route, hidden: true %>
        </td>
        <td><%= link_to 'Show', admin_route_path(route) %></td>
        <td><%= link_to 'Edit', '', class: 'edit_route', data: {route_id: route.id} %></td>
        <td><%= link_to 'Destroy', admin_route_path(route), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "New Route", new_admin_route_path, method: :get, class: 'btn btn-primary' %>

