<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<% if @route.trains.empty?%>
  <strong>There are no trains on the route</strong><br>
<% else %>
  <strong>Trains on the route:</strong>
  <%= render 'trains_list' %> 
<% end %>

<br>

<% if @route.railway_stations.empty?%>
  <strong>There are no stations on the route</strong><br>
<% else %>
  <strong>Stations in the route:</strong>
  <table border = "1" rules="all">
      <thead>
        <tr>
          <th width=200px>Название</th>
          <th>Расположение</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'stations_list' %>
      </tbody> 
    </table> 
<% end %>

<%= link_to 'Edit', edit_admin_route_path(@route) %> |
<%= link_to 'Back', admin_routes_path %>