<%= form_for([@train, @car]) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errors')%> </h2>

      <ul>
        <% @car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.select :type, 
    '<option value="CoupeCar">Coupe</option> 
     <option value="EconomyCar">Economy</option>'.html_safe %>
  </div>

  <div class="field">
    <%= f.label 'Top places' %>
    <%= f.text_field :top_places%>
  </div>

  <div class="field">
    <%= f.label 'Lower places' %>
    <%= f.text_field :bottom_places %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
